@media (max-width: 1200px) {
  .part_two_of_hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;
  }
  .part_two_of_hero div:last-child {
    display: none;
  }
  .part_two_of_hero div:nth-child(2) {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }
  .section_overview_about_company {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: var(--section_margin);
  }
  .section_overview_about_company div:first-child {
    padding: 1.6rem 2.8rem;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: var(--fourth-color);
  }
  .section_overview_about_company div:last-child {
    padding: 2.8rem 0;
  }
  .head_of_overview_section {
    font-size: 4.2rem;
  }
  .first_paragraph_of_overview_section {
    font-size: 2.4rem;
    font-weight: 400;
    padding-bottom: 2rem;
    line-height: 1.6;
  }
  .second_paragraph_of_overview_section {
    font-size: 2.4rem;
    font-weight: 400;
    padding-bottom: 4rem;
    line-height: 1.6;
  }
  .second_paragraph_of_overview_section a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 2.4rem;
    justify-self: flex-end;
  }
  .link_of_overview_section {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 2.4rem;
    justify-self: flex-end;
  }
  .img_of_overview_section {
    width: 70%;
    transition: all 500ms;
  }
  .three_cards_section {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .three_cards_section div {
    align-items: center;
  }
  .imgs_of_cards_section {
    width: 50%;
  }
  .button_of_cards_section {
    align-self: center;
  }
  .paragraph_of_cards_section {
    font-size: 2.2rem;
    width: 60%;
  }
  .three_cards_section {
    gap: 9.6rem;
  }
}
@media (max-width: 992px) {
  :root {
    --section_margin: 8.4rem;
  }
  .part_two_of_hero {
    grid-template-columns: 1fr;
  }
  .part_two_of_hero div:nth-child(2) {
    display: none;
  }
  .cars_brands div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    justify-items: center;
  }
  .last_brad_car {
    grid-column: 1/-1;
  }
  footer {
    padding: 5.2rem;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 4rem;
    column-gap: 2rem;
  }
  .parts_of_footer:first-child {
    grid-row: 2/3;
  }
  .parts_of_footer:nth-child(2) {
    grid-row: 2/3;
    grid-column: 2/3;
  }
}
@media (max-width: 620px) {
  html {
    font-size: 40%;
  }
  footer {
    padding: 4rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .btn_mobile_nav {
    display: block;
  }
  .hero_section {
    justify-content: center;
    flex-direction: column;
    gap: 8rem;
  }
  .logo_div_and_social_media {
    grid-row: 3/4;
  }
  .menu_icon {
    display: block;
  }
  .header {
    position: relative;
  }
  .ul_of_navigation {
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    transition: all 500ms ease-in;
    transform: translateX(100%);

    /* hide nav list  */

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .nav_open .ul_of_navigation {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
  }
  .nav_open .menu_icon {
    display: none;
  }
  .nav_open .close_icon {
    display: block;
  }
  .anchor_of_navigation:link,
  .anchor_of_navigation:visited {
    font-size: 3rem;
    font-weight: 500;
    color: var(--primary-color);
  }
}
@media (max-width: 320px) {
  html {
    font-size: 30%;
  }
}
